[submodule "LudumDare/LD37"]
	path = LudumDare/LD37
	url = https://x-token-auth:ATCTT3xFfGN0AV_mYUp9eVlIjZJWegWsTndeHEJsPunCoVHGw9fTXNIsKVvzLxGRDopBCKAKqDt5uZwYPOSfdpkGqpYx2DxoTGXenHIA1tzDynQpa3UM8TC5cActedXh3ZmnMy0ldpTdnd7ekpJoSY51NYGTfKHNAgQ66wzy_FeHnk3gfidsVqo=536D871B@bitbucket.org/zamboni_macaroni/ld37.git
