[submodule "LudumDare/LD37_Practice"]
	path = LudumDare/LD37_Practice
	url = https://halfskye@bitbucket.org/zamboni_macaroni/mjga1.git
[submodule "LudumDare/LD37"]
	path = LudumDare/LD37
	url = https://halfskye@bitbucket.org/zamboni_macaroni/ld37.git
